Hi,
<p>
  You have got new query for Providesk 

 <ul>
   <li>Name: <%= @data[:name] %></li>
   <li>Mobile: <%= @data[:mobile] %></li>
   <li>Email: <%= @data[:email] %></li>
   <li>Message: <%= @data[:message] %></li>
 </ul>
</p>
